<div class="flex flex-col min-h-screen h-full">
  <app-header></app-header>
  <main class="bg-gray-100 flex grow">
    <div class="container mx-auto">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sequi
      impedit vel ipsa magni illum itaque ducimus blanditiis obcaecati, odit
      asperiores maiores et corrupti quaerat facere eius architecto temporibus
      eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
      sequi impedit vel ipsa magni illum itaque ducimus blanditiis obcaecati,
      odit asperiores maiores et corrupti quaerat facere eius architecto
      temporibus eveniet. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus blanditiis
      obcaecati, odit asperiores maiores et corrupti quaerat facere eius
      architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Nihil sequi impedit vel ipsa magni illum itaque ducimus
      blanditiis obcaecati, odit asperiores maiores et corrupti quaerat facere
      eius architecto temporibus eveniet.
    </div>
  </main>
  <app-footer></app-footer>
</div>
