@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@layer components {
  a.router-link-active {
    @apply text-gray-700;
  }
  a.admin-panel-active {
    @apply bg-slate-800/50;
  }
  a.map-link-active {
    @apply bg-green-800/90;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
