<footer class="bg-slate-700 text-white py-4">
  <div
    class="container mx-auto flex flex-col items-center space-y-7 lg:justify-center lg:space-y-0 lg:space-x-60 lg:flex-row"
  >
    <div class="flex flex-col items-center space-y-2">
      <a
        herf="#"
        class="font-bold text-xl cursor-pointer duration-200 hover:text-cyan-500"
        >Maps:</a
      >
      <ul class="text-xs font-normal space-y-1 flex-col flex items-center">
        <li class="cursor-pointer duration-200 hover:text-gray-500">Nuclear</li>
        <li class="cursor-pointer duration-200 hover:text-gray-500">Weather</li>
      </ul>
    </div>
    <div class="flex flex-col items-center space-y-2">
      <a
        herf="#"
        class="font-bold text-xl cursor-pointer duration-200 hover:text-cyan-500"
        >News:</a
      >
      <ul class="text-xs font-normal space-y-1 flex-col flex items-center">
        <li class="cursor-pointer duration-200 hover:text-gray-500">Hot</li>
        <li class="cursor-pointer duration-200 hover:text-gray-500">Today</li>
      </ul>
    </div>
    <div class="flex flex-col items-center space-y-2">
      <a
        herf="#"
        class="font-bold text-xl cursor-pointer duration-200 hover:text-cyan-500"
        >Shop:</a
      >
      <ul class="text-xs font-normal space-y-1 flex-col flex items-center">
        <li class="cursor-pointer duration-200 hover:text-gray-500">Popular</li>
        <li class="cursor-pointer duration-200 hover:text-gray-500">
          Medicaments
        </li>
      </ul>
    </div>
  </div>
</footer>
