<nav class="relative container mx-auto p-6">
  <!-- Flex Container For All Items -->
  <div class="flex items-center justify-between">
    <!-- Flex Container for Logo/Menu -->
    <div class="flex items-center space-x-20">
      <!-- Logo -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="250"
        height="50"
        viewBox="75 0 125 60"
      >
        <text
          x="10"
          y="40"
          font-family="Poppins"
          font-weight="bold"
          font-size="36"
          fill="rgb(55 65 81)"
        >
          WeatherHelp
        </text>
      </svg>

      <!-- Left Menu -->
      <div class="hidden space-x-8 font-bold lg:flex">
        <a href="#" class="text-gray-500 hover:text-gray-700 duration-200"
          >Maps</a
        >
        <a href="#" class="text-gray-500 hover:text-gray-700 duration-200"
          >News</a
        >
        <a href="#" class="text-gray-500 hover:text-gray-700 duration-200"
          >Shop</a
        >
        <a href="#" class="text-gray-500 hover:text-gray-700 duration-200"
          >About</a
        >
      </div>
    </div>

    <!-- Right Menu -->
    <div
      class="hidden items-center space-x-6 font-bold text-gray-500 duration-200 lg:flex"
    >
      <a class="hover:text-gray-700 cursor-pointer">Login</a>
      <a
        href="#"
        class="px-8 py-3 font-bold text-white bg-cyan-500 rounded-full duration-200 hover:opacity-70"
        >Sign Up</a
      >
    </div>
    <!-- @todo hamburger -->
  </div>
  <!-- @todo modile menu -->
</nav>
