<div class="bg-white shadow mb-2 min-w-full">
  <nav class="relative container mx-auto py-4">
    <!-- Flex Container For All Items -->
    <div class="flex items-center justify-between">
      <!-- Flex Container for Logo/Menu -->
      <div class="flex items-center space-x-20">
        <!-- Logo -->
        <a
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          class="flex items-center"
        >
          <img
            src="/assets/images/health-healthcare-location-map-medicine-navigation-svgrepo-com.png"
            alt=""
            class="w-12 object-cover"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="250"
            height="50"
            viewBox="75 0 125 60"
          >
            <text
              x="10"
              y="40"
              font-family="Poppins"
              font-weight="bold"
              font-size="36"
              fill="rgb(55 65 81)"
            >
              WeatherHelp
            </text>
          </svg>
        </a>

        <!-- Left Menu -->
        <div class="hidden space-x-8 font-bold lg:flex">
          <a
            [routerLink]="['/maps', 'radiation-map']"
            routerLinkActive="router-link-active"
            class="text-gray-500 hover:text-gray-700 duration-200"
            >Maps</a
          >
          <a href="#" class="text-gray-500 hover:text-gray-700 duration-200"
            >News</a
          >
          <a
            [routerLink]="['/products', 'products']"
            routerLinkActive="router-link-active"
            class="text-gray-500 hover:text-gray-700 duration-200"
            >Shop</a
          >
          <a href="#" class="text-gray-500 hover:text-gray-700 duration-200"
            >About</a
          >
          <a href="#" class="text-gray-500 hover:text-gray-700 duration-200"
            >About</a
          >
          <a
            *ngIf="onRole(appRoles.Admin)"
            href="admin-panel"
            class="text-gray-500 hover:text-gray-700 duration-200"
            >Admin Panel</a
          >
        </div>
      </div>

      <!-- Right Menu -->
      <div
        *ngIf="isLogged"
        class="hidden items-center space-x-6 font-bold text-gray-500 duration-200 lg:flex"
      >
        <a
          class="hover:text-gray-700 cursor-pointer"
          [routerLink]="['/log-in']"
          routerLinkActive="router-link-active"
          >Login</a
        >
        <a
          [routerLink]="['/sign-up']"
          routerLinkActive="router-link-active"
          class="px-8 py-3 font-bold text-white bg-cyan-500 rounded-full duration-200 hover:opacity-70"
          >Sign Up</a
        >
      </div>
      <div
        *ngIf="!isLogged"
        class="hidden items-center space-x-6 font-bold text-gray-500 duration-200 lg:flex"
      >
        <span> welcome {{ userRole }} </span>
        <a
          [routerLink]="['/log-in']"
          routerLinkActive="router-link-active"
          class="px-8 py-3 font-bold text-white bg-indigo-500 rounded-full duration-200 hover:text-indigo-500 hover:bg-white hover:border-indigo-500 border border-white"
          (click)="onLogOut()"
          >Logout</a
        >
      </div>
      <!-- @todo hamburger -->
    </div>
    <!-- @todo modile menu -->
  </nav>
</div>
