<div class="flex flex-col gap-6">
  <span class="text-gray-300 font-bold text-4xl"> Products </span>
  <div class="bg-slate-700/60 border rounded-sm border-slate-700/80 p-4">
    <a
      type="button"
      class="text-white cursor-pointer duration-200 focus:outline-none focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 bg-gray-800 hover:bg-gray-700 focus:ring-gray-700 border-gray-700"
      [routerLink]="['./add']"
      routerLinkActive="router-link-active"
    >
      Add
    </a>

    <div class="relative overflow-x-auto shadow-md sm:rounded-md">
      <table
        class="w-full text-sm text-left rtl:text-right duration-200 text-gray-400"
      >
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Product name</th>
            <th scope="col" class="px-6 py-3">Slug</th>
            <th scope="col" class="px-6 py-3">Category</th>
            <th scope="col" class="px-6 py-3">Price</th>
            <th scope="col" class="px-6 py-3">Amount</th>
            <th scope="col" class="px-6 py-3">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of products"
            class="border-b duration-200 bg-gray-800 border-gray-700 hover:bg-gray-600"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium whitespace-nowrap text-white"
            >
              {{ item.name }}
            </th>
            <td class="px-6 py-4">{{ item.slug }}</td>
            <td class="px-6 py-4">{{ item.genreName }}</td>
            <td class="px-6 py-4">${{ item.price }}</td>
            <td class="px-6 py-4">{{ item.amount }}</td>
            <td class="px-6 py-4 text-right">
              <a href="#" class="font-medium text-blue-500 hover:underline"
                >Edit</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
